@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
@font-face {
  font-family: "Onyx";
  font-style: normal;
  font-weight: 400;
  src: url("../Sardonyx.otf") format("otf"), url("../Sardonyx.ttf") format("tff");
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  background: url("../img/bg.jpg") center;
}

.container {
  max-width: 1170px;
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 10px 19px 0px 17px;
  position: relative;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.content {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[9];
      grid-template-columns: repeat(9, 1fr);
  -ms-grid-rows: (300px)[3];
      grid-template-rows: repeat(3, 300px);
  grid-gap: 10px;
}

@media (max-width: 992.98px) {
  .content {
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
    -ms-grid-rows: 1fr 200px 1fr 1fr 1fr 10px;
        grid-template-rows: 1fr 200px 1fr 1fr 1fr 10px;
  }
}

@media (max-width: 767.98px) {
  .content {
    -ms-grid-rows: 1fr 200px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 400px 10px;
        grid-template-rows: 1fr 200px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 400px 10px;
  }
}

.top__img1 {
  background: url("../img/img1.jpg") center no-repeat;
  background-size: cover;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / span 3;
  -ms-grid-row: 1;
  grid-row: 1;
  opacity: 0.9;
}

@media (max-width: 992.98px) {
  .top__img1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
    -ms-grid-row: 1;
    grid-row: 1;
  }
}

@media (max-width: 767.98px) {
  .top__img1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 10;
    grid-column: 1 / span 10;
    -ms-grid-row: 5;
    -ms-grid-row-span: 2;
    grid-row: 5 / 7;
  }
}

.top__img2 {
  background: url("../img/img2.jpg") no-repeat;
  background-size: 100% 100%;
  -ms-grid-column: 4;
  -ms-grid-column-span: 5;
  grid-column: 4 / 9;
  -ms-grid-row: 1;
  grid-row: 1;
}

@media (max-width: 992.98px) {
  .top__img2 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 6;
    grid-column: 3 / span 6;
    -ms-grid-row: 1;
    grid-row: 1;
  }
}

@media (max-width: 767.98px) {
  .top__img2 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 10;
    grid-column: 1 / span 10;
    -ms-grid-row: 1;
    grid-row: 1;
  }
}

.top-block {
  -ms-grid-column: 9;
  -ms-grid-column-span: 1;
  grid-column: 9 / 10;
  -ms-grid-row: 1;
  grid-row: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1192px) {
  .top-block {
    width: 200px;
  }
}

@media (max-width: 992.98px) {
  .top-block {
    width: 100%;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
    -ms-grid-row: 4;
    grid-row: 4;
  }
}

@media (max-width: 767.98px) {
  .top-block {
    -ms-grid-column: 1;
    -ms-grid-column-span: 10;
    grid-column: 1 / span 10;
  }
}

.top-block::before {
  content: '';
  display: block;
  width: 242px;
  height: 45px;
  background-color: #949494;
  position: relative;
}

@media (max-width: 1192px) {
  .top-block::before {
    width: 200px;
  }
}

@media (max-width: 1192px) {
  .top-block::before {
    width: 100%;
  }
}

.top-block span {
  display: block;
  height: 267px;
  position: relative;
  bottom: 0;
  opacity: 0.92;
  color: #ffffff;
  font-family: 'Onyx';
  font-size: 154px;
  line-height: 140px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: -4.25px;
}

@media (max-width: 1192px) {
  .top-block span {
    font-size: 128px;
  }
}

@media (max-width: 992.98px) {
  .top-block span {
    font-size: 175px;
    line-height: 135px;
  }
}

@media (max-width: 767.98px) {
  .top-block span {
    font-size: 145px;
    padding: 15px 0px 0px 0px;
    max-height: 250px;
    margin: auto;
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
}

@media (max-width: 479.98px) {
  .top-block span {
    font-size: 120px;
    line-height: 110px;
    top: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    width: 200px;
  }
}

.bottom-top {
  -ms-grid-column: 1;
  -ms-grid-column-span: 7;
  grid-column: 1 / span 7;
  -ms-grid-row: 2;
  grid-row: 2;
  position: relative;
}

@media (max-width: 992.98px) {
  .bottom-top {
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-column: 1 / span 8;
    -ms-grid-row: 2;
    grid-row: 2;
  }
}

.bottom-top .date {
  font-family: 'Onyx';
  color: #fefefe;
  font-size: 60px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: -1.5px;
  padding: 41px 0px 0px 25px;
}

@media (max-width: 992.98px) {
  .bottom-top .date {
    padding: 0px 0px 0px 25px;
  }
}

.bottom-top .bottom-block__cont {
  width: 271px;
}

@media (max-width: 1192px) {
  .bottom-top .bottom-block__cont {
    width: 235px;
  }
}

.bottom-top .bottom-block__cont .description {
  color: #ffffff;
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: -0.9px;
  padding: 17px 0px 0px 10px;
}

@media (max-width: 992.98px) {
  .bottom-top .bottom-block__cont .description {
    padding-top: 0;
  }
}

.bottom-top .brand {
  position: absolute;
  top: 40%;
  right: 20px;
  -webkit-transform: translate(0, -25%);
          transform: translate(0, -25%);
  font-family: 'Onyx';
  opacity: 0.97;
  color: #ffffff;
  font-size: 170px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: -4.75px;
}

@media (max-width: 1192px) {
  .bottom-top .brand {
    right: 10px;
    font-size: 150px;
  }
}

@media (max-width: 992.98px) {
  .bottom-top .brand {
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
}

@media (max-width: 767.98px) {
  .bottom-top .brand {
    font-size: 130px;
  }
}

@media (max-width: 616px) {
  .bottom-top .brand {
    font-size: 100px;
  }
}

@media (max-width: 524px) {
  .bottom-top .brand {
    width: 250px;
    font-size: 100px;
    padding: 0px 0px 0px 100px;
  }
}

.bottom__img1 {
  background: url("../img/img3.jpg") center center no-repeat;
  background-size: cover;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  -ms-grid-row: 3;
  grid-row: 3;
  opacity: 0.9;
}

@media (max-width: 992.98px) {
  .bottom__img1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
    -ms-grid-row: 3;
    grid-row: 3;
  }
}

@media (max-width: 767.98px) {
  .bottom__img1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 10;
    grid-column: 1 / span 10;
    -ms-grid-row: 10;
    grid-row: 10;
    background-size: center center;
  }
}

.bottom__img2 {
  background: url("../img/img4.jpg") center no-repeat;
  background-size: cover;
  -ms-grid-column: 4;
  -ms-grid-column-span: 4;
  grid-column: 4 / 8;
  -ms-grid-row: 3;
  grid-row: 3;
}

@media (max-width: 992.98px) {
  .bottom__img2 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-column: 1 / span 8;
    -ms-grid-row: 5;
    grid-row: 5;
  }
}

@media (max-width: 767.98px) {
  .bottom__img2 {
    -ms-grid-row: 3;
    grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 10;
    grid-column: 1 / span 10;
  }
}

.bottom__img3 {
  background: url("../img/img5.jpg") center no-repeat;
  background-size: cover;
  -ms-grid-column: 8;
  -ms-grid-column-span: 2;
  grid-column: 8 / 10;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2 / 4;
}

@media (max-width: 992.98px) {
  .bottom__img3 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 6;
    grid-column: 3 / span 6;
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    grid-row: 3 / 5;
  }
}

@media (max-width: 767.98px) {
  .bottom__img3 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 10;
    grid-column: 1 / span 10;
    -ms-grid-row: 7;
    -ms-grid-row-span: 3;
    grid-row: 7 / 10;
  }
}
