@charset "UTF-8";
/*Обнуление*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@font-face {
  font-family: "Onyx";
  font-style: normal;
  font-weight: 400;
  src:
       url("./Sardonyx.otf") format("otf"),
       url("./Sardonyx.ttf") format("tff");
}

$mw:1167;
$md1:$mw+25;
$md2:992.98;
$md3:767.98;
$md4:479.98;

// .container {max-width: $mw+px;margin: 0 auto; width: 100%;
//   @media (max-width: $md1 + px) {max-width: 993px; }
//   @media (max-width: $md2 + px) {max-width: 700px; }
//   @media (max-width: $md3 + px) {max-width: none; padding: 0 10px; }
// }

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/


body { 
  background: url('../img/bg.jpg') center;
}

.container {
  max-width: 1170px;
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 10px 19px 0px 17px;
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
}

.content {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(3, 300px);
  grid-gap: 10px;

  @media (max-width: $md2 + px) {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 200px 1fr 1fr 1fr 10px;
    // padding: 0px 0px 40px 0px;
  }
  @media (max-width: $md3 + px) {
    grid-template-rows: 1fr 200px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 400px 10px;
  }

}


.top__img1 {
  background: url('../img/img1.jpg') center no-repeat;
  background-size:cover;
  grid-column: 1 / span 3;
  grid-row: 1 ;
  opacity: 0.9;
  @media (max-width: $md2 + px) {
    grid-column: 1 / span 2;
    grid-row: 1 ;  
  }
  @media (max-width: $md3 + px) {
    // display: none;
    grid-column: 1 / span 10;
    grid-row: 5 / 7;
    // background-size: center center ;
  }
  
}

.top__img2 {
  background: url('../img/img2.jpg') no-repeat;
  background-size: 100% 100%;
  grid-column: 4 / 9;
  grid-row: 1;
  @media (max-width: $md2 + px) {
    grid-column: 3 / span 6;
    grid-row: 1 ;  
  }
  @media (max-width: $md3 + px) {
    grid-column: 1 / span 10;
    grid-row: 1  ;  
  }
}
.top-block {
  // border: 1px solid white;
  grid-column: 9 / 10;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  @media (max-width: $md1 + px) {
    width: 200px;
  } 

  @media (max-width: $md2 + px) {
    width:100%;
    grid-column: 1 / span 2;
    grid-row: 4; 
  }
  
  @media (max-width: $md3 + px) { 
    grid-column: 1 / span 10;
  }

  &::before { 
    content: '';
    display: block;
    width: 242px;
    height: 45px;
    background-color: #949494;
    position: relative;
    @media (max-width: $md1 + px) {
      width: 200px;
    }
    @media (max-width: $md1 + px) {
      width: 100%;
    }
  }

  & span { 
    display: block;
    height: 267px;
    position: relative;
    bottom: 0;
    opacity: 0.92;
    color: #ffffff;
    font-family: 'Onyx';
    font-size: 154px;
    line-height: 140px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: -4.25px;

    @media (max-width: $md1 + px) {
      font-size: 128px;
    }
    @media (max-width: $md2 + px) {
      font-size:175px;
      line-height: 135px;
    }
    @media (max-width: $md3 + px) {
      font-size: 145px;
      padding: 15px 0px 0px 0px;
      max-height: 250px;
      margin: auto;
      top:50%;
      transform: translate(0, -50%);
    }
    @media (max-width: $md4 + px) { 
      font-size: 120px;
      line-height: 110px;
      top:0;
      transform: translate(0,0);
      width: 200px;
    }

  }
}

.bottom-top {
  grid-column: 1 / span 7;
  grid-row: 2;
  position: relative;

  @media (max-width: $md2 + px) {
      grid-column: 1 / span 8;
      grid-row: 2;
  }
  
  & .date {
    font-family: 'Onyx';
    color: #fefefe;
    font-size: 60px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: -1.5px;
    padding: 41px 0px 0px 25px;
    @media (max-width: $md2 + px) {
      padding: 0px 0px 0px 25px;
  }
  }

  & .bottom-block__cont {
    width: 271px;
    @media (max-width: $md1 + px) {
      width: 235px;
    }
  }

  & .bottom-block__cont .description { 
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: 300;
    letter-spacing: -0.9px;
    padding: 17px 0px 0px 10px;

    @media (max-width: $md2 + px) {
      padding-top:0;
  }
  }

  & .brand {
    position: absolute;
    top:40%;
    right:20px;
    transform: translate(0,-25%);
    font-family: 'Onyx';
    opacity: 0.97;
    color: #ffffff;
    font-size: 170px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: -4.75px;

    @media (max-width: $md1 + px) {
      right: 10px;
      font-size: 150px;
    } 
    @media (max-width: $md2 + px) {
      top:50%;
      transform: translate(0,-50%);  
    }
    @media (max-width: $md3 + px) {
      font-size: 130px;
    }
    @media (max-width: 616px) { 
      font-size: 100px;
    }
    @media (max-width: 524px) { 
      width: 250px;
      font-size: 100px;
      padding: 0px 0px 0px 100px;
      
    }
  }
}


.bottom__img1 {
  background: url('../img/img3.jpg') center center no-repeat;
  background-size: cover;
  grid-column: 1 / 4;
  grid-row: 3;
  opacity: 0.9;
  // display: none;
  @media (max-width: $md2 + px) {
    grid-column: 1 / span 2;
    grid-row: 3;  
  }
  @media (max-width: $md3 + px) {
    grid-column: 1 / span 10;
    grid-row:  10 ; 
    background-size: center center; 
  }

}
.bottom__img2 {
  background: url('../img/img4.jpg') center no-repeat;
  background-size:cover;
  grid-column: 4 / 8;
  grid-row: 3;
  // display: none;
  @media (max-width: $md2 + px) {
    grid-column: 1 / span 8;
    grid-row: 5; 
  }
  @media (max-width: $md3 + px) {
    grid-row: 3; 
    grid-column: 1 / span 10;
  }
}
.bottom__img3 {
  background: url('../img/img5.jpg')center no-repeat;
  background-size:cover;
  grid-column: 8 / 10;
  grid-row: 2 / 4;
  // display: none;
  @media (max-width: $md2 + px) {
    grid-column: 3 / span 6 ;
    grid-row: 3 / 5;  
  }
  @media (max-width: $md3 + px) {
    grid-column: 1 / span 10 ;
    grid-row: 7 / 10;  
  }

}

